<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project), :class => "btn btn-primary btn-sm" %> <%= link_to 'Back', projects_path, :class => "btn btn-primary btn-sm" %>
